# 1. 忽略所有内容
*

# 2. 允许目录结构（为了让 Git 能进入子目录查找文件）
!*/

# 3. 明确排除不需要的 IDE 配置文件夹
.idea/
build/
bin/
obj/

# 4. 白名单：允许的文件类型
!.gitignore
!*.cpp
!*.h
!*.hpp
!*.cc
!*.c
!*.s
!*.S

# 5. 构建与配置
!*.txt
!*.cmake
!Makefile
!*.md